<h1>Ajouter une recette</h1>
<form #form="ngForm" class="col-6  m-auto p-3"  (submit)="formulaire(form)" >

  <div class="form-group">
    <label for="titre">Titre</label>
    <input [(ngModel)]="recette.titre" type="text" class="form-control" id="titre" name="titre" />
  </div>
  <div class="form-group">
    <label for="categorie">Catégorie</label>
    <select [(ngModel)]="recette.id_categorie" class="form-control" id="categorie" name="id_categorie" >
      <option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.titre}}</option>
  
    </select>
  </div>
  <div class="form-group">
    <label for="difficulte">Dificulté</label>
    <select [(ngModel)]="recette.difficulte" class="form-control" id="difficulte" name="difficulte">
      <option value="facile">facile</option>
      <option value="moyen">Moyen</option>
      <option value="expert">expert</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input [(ngModel)]="recette.description" type="text" class="form-control" id="description" name="description" />
  </div>
  <div class="form-group">
    <label for="preparation">Temps Préparation</label>
    <input [(ngModel)]="recette.tempsprep" type="text" class="form-control" id="preparation" name="tempsprep" />
  </div>
  <div class="form-group">
    <label for="cooking">Temps Cuisson</label>
    <input [(ngModel)]="recette.tempscuisson" type="text" class="form-control" id="cooking" name="tempscuisson" />
  </div>
  <input type="hidden" name="id" [(ngModel)]="recette.id">

  <div class="form-group">
    <label for="cout">Cout</label>
    <select [(ngModel)]="recette.cout" class="form-control" id="cout" name="cout">
      <option value="abordable">abordable</option>
      <option value="correct">corect</option>
      <option value="excessif">excessif</option>
    </select>
  </div>
  <div class="form-group">
    <label for="photo">Photo:</label>
    <input [(ngModel)]="recette.photo" type="text" class="form-control-file" id="photo" name="photo">
  </div>
  <button type="submit" class="btn mt-3 btn-primary">Ajouter</button>
</form>
