<div class="form-group">

  <div class="container">
    <div class="row d-flex justify-content-between">
      <div
        *ngFor="let recette of recipes"
        class="p-0 m-3 card col-md-4 mt-3"
        style="width: 28rem"
      >
        <img src="{{ recette.photo }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">{{ recette.titre }}</h5>
       
        </div>
        <div class="card-body text-center">
        <a
            [routerLink]="['/ingredients/','ajout', recette.id]"
            class="card-link btn btn-success btn-block w-50">Ajouter des ingrédients</a>
            </div>
        <div class="card-body text-center">
          <a
            [routerLink]="['/ingredients/','ajout', recette.id]"
            class="card-link btn btn-success btn-block ">Voir les étapes</a>
          <a [routerLink]="['/detailIngredient/', recette.id]" class="card-link btn btn-success btn-block ">Voir les ingrédients</a>
          <!-- renvoie vers la page  formulaire d'ajout recip-form.component-->
        </div>
        <div class="card-body text-center">
          <a
            [routerLink]="['/formRecipe/', recette.id]"
            class="card-link btn btn-success btn-block "
            >Modifier</a>
          <a (click)="delete(recette.id)" class="card-link btn btn-success btn-block" >Supprimer</a>
        </div>
       
      </div>
    </div>
  </div>
</div>
